/* My Awesome CSS Document */

body {
        background-color: blanchedalmond;
        font-family: 'Courier New', Courier, monospace;
        font-size: 18px;
}

header, footer {
    background-color: violet;
}

.site-title{
    color: rgb(13, 1, 1);
}

#my-image{ 
    box-shadow: 0 0 2px 1px black;
}

.hobbies{
    list-style-type: square;
}
nav li{
    list-style: none;
}

a.link {
    text-decoration: none;
    background: gray;
    border-style:solid;
}

a.link:hover{
    background: yellow;
}
.hobbies li:nth-child(odd){
    background:pink;
}